#home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  color: #ffffff;
}

#home .home-thumb {
  text-align: center;
}

.background {
  background-color: #11111290 !important;
}

#home .btn {
  background: transparent;
  border: 3px solid #ffffff;
  border-radius: 0px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 14px 36px;
  margin-top: 42px;
  margin-right: 16px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#home .btn:hover {
  background: #f1c11a;
  color: #ffffff;
  border-color: transparent;
}

#home .btn-success {
  background: #ffffff;
  color: #242424;
  border-color: transparent;
}

.slide-image {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.hidden {
  opacity: 0;
  transition: 2s;
}

.shown {
  opacity: 1;
  transition: 2s;
}

.landing-container {
  z-index: 3;
  margin-left: 30%;
}

@media screen and (max-width: 1000px) {
  .landing-container {
    margin-left: 10%;
  }
}
