#about h3 {
  margin-top: 0px;
}

#about h1 {
  font-size: 4rem;
}

#about .about-thumb {
  padding-top: 10px;
}

.about-section-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#about .home-about-img-responsive {
  width: 35vw;
  border-radius: 16px;
  min-height: 80vh;
  margin-left: 40px;
}

.about-section-container > .image-container {
  width: 49%;
  margin-left: 25px;
}

.about-section-container > .text-container {
  width: 40%;
  text-align: left;
  margin-right: 55px;
}

@media screen and (min-width: 1600px) {
  .about-section-container > .image-container {
    width: 40%;
  }

  .about-section-container > .text-container {
    width: 55%;
  }
}

@media screen and (width < 768px) {
  .about-section-container {
    text-align: center;
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .about-section-container > .image-container {
    width: 90%;
    margin-left: 0 !important;
  }

  .home-about-img-responsive {
    width: 100% !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  .about-section-container .text-container {
    margin-top: 20px;
  }
}
