.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(45deg, #8323ed, #4d0bfd);
  color: white;
  padding: 50px;
  min-height: 500px;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 42px;
}

.hero-text p {
  font-size: 18px;
}

.hero-image img {
  width: 100%;
  max-width: 300px;
}

@media (max-width: 768px) {
  .hero-section {
    margin-top: 2rem;
    flex-direction: column;
    text-align: center;
  }
}
