@media screen and (max-width: 800px) {
  .service-detailed-landing-section {
    text-align: center;
  }

  .service-detailed-landing-section h1 {
    font-size: 30px;
  }

  .service-detailed-landing-section p {
    font-size: 12px;
  }
}
