#feature {
    background: #D1CD4D;
  }
  
  #feature .icon {
    color: #ffffff;
    font-size: 42px;
    padding-right: 14px;
  }
  
  #feature p {
    color: #333;
  }
  
  #feature .btn {
      background: transparent;
      border: 3px solid #ffffff;
      border-radius: 0px;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1px;
      padding: 14px 36px;
      margin-top: 62px;
      margin-right: 16px;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
  }
  
  #feature .btn:hover {
    background: #ffffff;
    color: #333;
    border-color: transparent;
  }
  
  