#feature {
    background: #D1CD4D;
  }
  
  #feature .icon {
    color: #ffffff;
    font-size: 42px;
    padding-right: 14px;
  }
  
  #feature p {
    color: #333;
  }
  
  #feature .btn-service{
    background: transparent;
      border: 3px solid #000000;
      border-radius: 0px;
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1px;
      padding: 14px 36px;
      margin-top: 62px;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
  }

  #feature .btn-service:hover {
    background: #000000;
    color: #ffffff;
    border-color: transparent;
  }
  
  #feature .btn {
    background: transparent;
    border: 3px solid #000000;
    border-radius: 0px;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 14px 36px;
    margin-top: 62px;
    margin-bottom: 10px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  #feature .btn:hover {
    background: #000000;
    color: #ffffff;
    border-color: transparent;
  }
  
  .service-logo{
    height: 4rem;
    width: 4rem;
    margin-right: 20px;
  }
  
  .media-left{
    display: table-cell;
    vertical-align: top;
  }

  .display-flex{
    display: flex;
  }

  .dark{
    color:black;
  }

  .center{
    display: grid;
    place-items: center;
  }