#products .svgcolor-light {
    /*position: absolute;
    top: 0;
    left: 0; */
    position: relative;
    bottom: 104px;
  }
  #products .svgcolor-light > path {
    fill: #D1CD4D;
    stroke: #D1CD4D;
    stroke-width: 0;
  }

  #products .btn {
    background: transparent;
    border: 3px solid #1c3f95;
    border-radius: 0px;
    color: #1c3f95;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 14px 36px;
    margin-top: 62px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  #products .btn:hover {
    background: #1c3f95;
    color: #fff;
    border-color: transparent;
  }