#feature {
  background: #d1cd4d;
}

#feature .icon {
  color: #ffffff;
  font-size: 42px;
  padding-right: 14px;
}

#feature p {
  color: #333;
}

#feature .btn {
  background: transparent;
  border: 3px solid #ffffff;
  border-radius: 0px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 14px 36px;
  margin-top: 62px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#feature .btn:hover {
  background-color: #fff;
  color: #d1cd4d;
  border-color: transparent;
}

.service-logo {
  height: 4rem;
  width: 4rem;
  margin-right: 20px;
}

.media-left {
  display: table-cell;
  vertical-align: top;
}

.display-flex {
  display: flex;
}

.features-container {
  width: 100%;
}

.home-feature-components-container {
  width: 100%;
}

.dark {
  color: black;
}

.center {
  display: grid;
  place-items: center;
}

#feature .button {
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111112;
  background-color: transparent;
  border-color: #111112;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#feature .button:hover {
  font-weight: 500;
}

.home-service-container-row {
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .home-service-container-row {
    width: 100% !important;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

  .home-service-container-row-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 70%;
  }
}

@media screen and (max-width: 700px) {
  .home-service-container-row-element {
    width: 90%;
  }
}
