.logo-image {
  height: 4rem;
  width: 4rem;
  margin-right: 0.5rem;
}

.custom-navbar span {
  color: #fff !important;
  font-size: 18px;
  padding-left: 0.8rem !important;
}

.navbar-brand {
  font-size: 30px;
  font-weight: 500;
  color: #1c3f95 !important;
  padding-left: 1rem;
}

.custom-navbar {
  background-color: #434850;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  min-height: 5rem;
  opacity: 1 !important;
}

.custom-navbar .active {
  font-weight: 500;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.custom-navbar-hidden {
  opacity: 0 !important;
}
