#contact .form-control {
    background: transparent;
    border: 1px solid #f0f0f0;
    border-radius: 0px;
    box-shadow: none;
    font-size: 16px;
    margin-bottom: 16px;
    transition: all 0.4s ease-in-out;
  }
  
  #contact .form-control:hover {
    border-color: #999;
  }
  
  #contact input {height: 55px;}
  
  #contact input[type='submit'] {
    background: #434850;
    border: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: all 0.4s ease-in-out;
    margin-top: 10px;
  }
  
  #contact input[type='submit']:hover {
    background: #D1CD4D;
  }