footer {
  background: #434850;
  padding-top: 2rem;
  width: 100%;
}

footer .copyright-text {
  padding-top: 10px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #ff6;
}

footer p {
  cursor: pointer;
}

footer p:hover {
  color: #fff;
}
