.services {
  margin-bottom: 1rem;
}

.landing-section {
  min-height: 85vh;
  background-color: #d1cd4d;
  display: flex;
  text-align: center;
  align-items: center;
}

.introduction {
  padding-top: 5vh;
  width: 65vw;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 2.8rem;
  font-weight: 700;
  width: 100%;
}

.text {
  color: #ffffff;
  font-size: 16px;
  padding-top: 1.8vw;
  line-height: 28px;
}

.introduction .text {
  color: #000;
}

.logo {
  height: 10rem;
  width: 10rem;
  padding-top: 5vh;
  padding-left: 2vw;
}

.spacing {
  height: 15vh;
  width: 100%;
  background: linear-gradient(to bottom right, #d1cd4d 50%, #ffffff 50%);
}

.main {
  width: 100%;
  padding-top: 100px;
}

.secondary {
  width: 100%;
  padding-top: 100px;
  background: #d1cd4d;
}

.container-services-landing {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-height: 70vh;
  padding-left: 10vw;
}

.service-landing-element-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.service-name {
  font-size: 2.8rem;
  font-weight: 700;
}

.slogan {
  margin-top: -0.5vh;
  padding-left: 0.7vw;
}

.description {
  font-size: 16px;
  padding-top: 1.8vw;
  line-height: 28px;
}

.btn {
  background: transparent;
  border: 3px solid #d1cd4d;
  border-radius: 0px;
  color: #d1cd4d;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 14px 36px;
  margin-top: 62px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: #d1cd4d;
  color: #ffffff;
}

.secondary .btn {
  color: #ffffff;
  border-color: #ffffff;
}

.secondary .btn:hover {
  color: #d1cd4d;
  background-color: #ffffff;
}

@media screen and (max-width: 900px) {
  .container-services-landing {
    margin-left: 0;
  }

  .container-services-landing img {
    width: 80vw;
  }
}

@media screen and (max-width: 1300px) {
  .services-landing-extra-space {
    height: 2rem;
  }

  .container-services-landing {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .container-services-landing .info {
    width: 80%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .service-landing-element-container .description {
    font-size: 12px;
  }

  .services .introduction > .text {
    font-size: 12px;
  }
}

.service-last-element {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1320px) {
  .description {
    display: flex;
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-height: 700px) {
  .services .introduction {
    padding-top: 150px;
  }
}

@media screen and (min-width: 1320px) {
  .info {
    width: 50%;
  }

  .image-container {
    width: 40%;
  }

  .image-container img {
    width: 100%;
  }
}

@media screen and (min-width: 901px) and (max-width: 1300px) {
  .image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .service-landing-image {
    max-width: 80%;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1320px) {
  .image-container {
    width: 40%;
  }

  .service-landing-image {
    max-width: 100%;
  }
}
